# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#read cities from csv file
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,nhulunbuy,-12.23,136.77,89.60,62,100,13.80,AU,1615093226
1,1,busselton,-33.65,115.33,79.75,50,17,2.64,AU,1615093227
2,2,port elizabeth,-33.92,25.57,66.20,88,20,17.27,ZA,1615093177
3,3,sorong,-0.88,131.25,78.89,81,100,9.57,ID,1615093229
4,4,cabo san lucas,22.89,-109.91,66.20,63,20,8.52,MX,1615093141

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
#plot heat map, Use the Lat and Lng as locations and Humidity as the weight
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the cities to fit weather conditions.& Drop any rows will null values
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
113,113,puerto cabezas,14.04,-83.39,73.44,82,0,8.48,NI,1615093304
168,168,fuerte olimpo,-21.04,-57.87,72.25,77,0,2.73,PY,1615093338
175,175,pozo colorado,-23.49,-58.80,71.58,67,0,2.77,PY,1615093342
211,211,salalah,17.02,54.09,75.20,64,0,1.14,OM,1615093221
212,212,puerto escondido,15.85,-97.07,76.89,69,0,6.11,MX,1615093137
282,282,kidal,18.44,1.41,74.95,19,0,9.26,ML,1615093416
358,358,mayor pablo lagerenza,-19.93,-60.77,73.08,57,0,3.20,PY,1615093462
468,468,alta floresta,-9.88,-56.09,73.40,100,0,2.30,BR,1615093533
548,548,acapulco,16.86,-99.89,74.12,75,0,4.36,MX,1615093581
554,554,kaabong,3.48,34.15,71.87,41,0,6.53,UG,1615093585
567,567,neuquen,-38.95,-68.06,75.20,43,0,2.30,AR,1615093593
582,582,pokhara,28.23,83.98,77.95,18,0,7.27,NP,1615093602

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Store into variable named hotel_df.
hotel_df = narrowed_city_df[["City","Lat", "Lng","Country"]].copy()
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

                      City    Lat    Lng Country Hotel Name
113         puerto cabezas  14.04 -83.39      NI
168          fuerte olimpo -21.04 -57.87      PY
175          pozo colorado -23.49 -58.80      PY
211                salalah  17.02  54.09      OM
212       puerto escondido  15.85 -97.07      MX
282                  kidal  18.44   1.41      ML
358  mayor pablo lagerenza -19.93 -60.77      PY
468          alta floresta  -9.88 -56.09      BR
548               acapulco  16.86 -99.89      MX
554                kaabong   3.48  34.15      UG
567                neuquen -38.95 -68.06      AR
582                pokhara  28.23  83.98      NP

In [7]:
# Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [8]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get lats and lngs from df
    lat = row["Lat"]
    lng = row["Lng"]
    

    # add keyword to params dict
    params['location'] = f"{lat},{lng}"

    # assemble url and make API request
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_results= requests.get(base_url, params=params).json()
    
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_results["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

,City,Lat,Lng,Country,Hotel Name
113,puerto cabezas,14.04,-83.39,NI,Tour Operadora ASLA
168,fuerte olimpo,-21.04,-57.87,PY,Hotel Fuerte Olimpo
175,pozo colorado,-23.49,-58.80,PY,Hospedaje la Amistad
211,salalah,17.02,54.09,OM,HAMDAN PLAZA HOTEL SALALAH
212,puerto escondido,15.85,-97.07,MX,Aldea del Bazar Hotel and Spa
282,kidal,18.44,1.41,ML,
358,mayor pablo lagerenza,-19.93,-60.77,PY,
468,alta floresta,-9.88,-56.09,BR,Floresta Amazonica Hotel
548,acapulco,16.86,-99.89,MX,HS Hotsson Smart Acapulco
554,kaabong,3.48,34.15,UG,Rock Motel Ltd
567,neuquen,-38.95,-68.06,AR,Hotel del Comahue
582,pokhara,28.23,83.98,NP,Butterfly Lodge

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))